<% @flights.each do |flight| %>
  <section id = "flight-<%=flight.id%>">
    <h2>Flight Number: <%= flight.number %></h2>
      <% flight.passengers.each do |passenger| %>
          <p>Flight Passenger: <%= passenger.name %></p>
      <% end %>
  </section>
<% end %>
