<% @flights.each do |flight| %>
  <section id = "flight-<%=flight.id%>">
    <h2>Flight Number: <%= flight.number %></h2>
    <!-- <h2>Flight Passenger: <%= flight.number %></h2> -->

  </section>
<% end %>
